@model ViewModel_IndexCheckout
@{
	ViewBag.Title = "Checkout";
	int total = 0;
}
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<form asp-action="Order" class="container">
		<!-- row -->
		<div class="row">

			<div class="col-md-7">
				<!-- Shiping Details -->
				<div class="shiping-details">
					<div class="section-title">
						<h3 class="title">Shiping address</h3>
					</div>
				</div>
				<div>
					<h5>Choose address</h5>
					<select name="addressId" class="form-select" style="padding: 6px;border-radius: 8px;width: 200px;" asp-items="@Model.Addresses"></select>
				</div>
				<!-- /Shiping Details -->
			</div>

			<!-- Order Details -->
			<div class="col-md-5 order-details">
				<div class="section-title text-center">
					<h3 class="title">Your Order</h3>
				</div>
				<div class="order-summary">
					<div class="order-col">
						<div><strong>PRODUCT</strong></div>
						<div><strong>TOTAL</strong></div>
					</div>
					<div class="order-products">
						@foreach (var item in Model.CartItems)
						{
							<div class="order-col">
								<div>@(item.Quantity)x @item.Product.Name</div>
								<div>E£@(item.Quantity * item.Product.Price)</div>
							</div>
							<!-- @(total += item.Quantity * item.Product.Price) -->
						}
					</div>
					<div class="order-col">
						<div>Shiping</div>
						<div><strong>FREE</strong></div>
					</div>
					<div class="order-col">
						<div><strong>TOTAL</strong></div>
						<div><strong class="order-total">E£@total</strong></div>
					</div>
				</div>
				<input type="submit" value="Place order" class="primary-btn order-submit" />
			</div>
			<!-- /Order Details -->
		</div>
		<!-- /row -->
	</form>
	<!-- /container -->
</div>
<!-- /SECTION -->
